/* 
	CREDIT: 
  	Josh's Custom CSS Reset
  	https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
	box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
text-decoration: none;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

button {						/* Added */
	color: inherit;
	background: transparent;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
font-weight: 400;
}


/* only needed if you use a JS framework */
/* #root, #__next {        
isolation: isolate;
} */