@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Outfit:wght@200;300;400;500;600;700&display=swap');

body {
	width: 100%;
	height: 100vh;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

main {
	height: calc(100% - 4rem);	
	display: flex;
	position: relative;
}

button {
	height: 1.75rem;	
	border-radius: .30rem;	
}

button:hover {
	color: black;
	background: var(--color-hover);
}
button:active {
	color: black;
	background: var(--color-active);
}

a:hover {
	color: var(--color-button);
}

a:active {
	color: var(--color-active);
}

/* HEADER */

.main-header {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	background: var(--color-secondary);
}

.header__logo-section{
	gap: 1rem;
}

.header__logo-section h1 {
	font-family: "Indie Flower", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	margin-left: 4rem;
}

.header-logo {
	position: absolute;
	top: .5rem;
	width: 3.5rem;
	transform: rotate(-10deg);
	z-index: 2;	
}

.header__sign-section {
	display: flex;
	gap: .80rem;
}

.header__sign-in-button {
	color: var(--color-primary);
	background: var(--color-button);
}

.header__signup-button,
.header__sign-in-button, 
.header__signout-button {
	width: 6rem;
}

.header__signout-button {
	/* display: none; */
}

h1 {
	font-size: 28px;
}

/* SIGNUP FORM / SIGN IN FORM */
.signup-section, .sign-in-section {
	width: 100%;
	height: calc(100vh - 4rem);
	position: absolute;	
	display: none;
	justify-content: center;
	background: var(--color-primary);
}

.signup-section>button, .sign-in-section>button {
	position: absolute;
	right: 3rem;
	top: 2rem;
	width: 3rem;
	height: 3rem;	
	background: transparent;
}

.signup-form, .sign-in-form {
	width: 30%;
	max-width: 400px;
	height: 50%;
	margin-top: 15%;
	padding: 2rem 4rem;
	display: flex;	
	flex-direction: column;
	border-radius: .30rem;
	border: 3px solid var(--color-active);
}

.signup-form-legend {
	margin-bottom: 1rem;
	text-align: center;
}

.signup-form button,
.sign-in-form button,
.sign-in-form label:nth-of-type(3), 
.signup-form label:nth-of-type(3) {
	margin-top: 1.5rem;
}

.signup-form__email-error,
.signup-form__password-error {
	color: red;
	visibility: hidden;
}

.signup-form button,
.sign-in-form button {
	color: var(--color-primary);	
	background: var(--color-button);
}

.fa-xmark {
	font-size: 36px;	
}

.fa-xmark:hover {
	transform: scale(1.1) rotate(-5deg);
}

.sign-in-form__email-error,
.sign-in-form__password-error {
	color: red;
	visibility: hidden;
}

/* LOGO LANDING PAGE SECTION */
.landing-section__logo-section{
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-top: 25vh;
	gap: 3rem;
	/* margin-left: 10rem; */
}

.landing-section__logo-section h1 {
	font-family: "Indie Flower", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 100px;
}

.landing-section-logo {
	height: fit-content;
	width: 15rem;
	transform: rotate(-10deg);
}

/* TODO FORM SECTION */

.add-todo-section {
	height: 100%;
	display: none;
	padding: 3rem .75rem;
	flex-basis: 25%;
	background: var(--color-tercary);
}

.add-todo-form {
	display: flex;
	flex-direction: column;
}

.title-error,
.date-error,
.description-error {
	color: red;
	visibility: hidden;
}

.todo-title-input, 
.todo-date-input,
.todo-description-input {
	padding: 0 .50rem;
	resize: none;
}

.char-count {
	font-size: 12px;
	font-weight: inherit;
}

.submit-todo-button {
	color: var(--color-primary);
	background: var(--color-button);
}

/* TODO DISPLAY SECTION */

.display-todos-section {
	flex-basis: 75%;
	padding: 3rem 5rem;
	background: var(--color-primary);
}

.display-todos__header {
	text-decoration: underline;
		
}

.display-todos__header,
.todo-li {
	display: flex;	
}

.display-todos__header span,
.todo-li span {
	padding: .35rem .50rem;
	font-weight: 600;
	border: 3px solid white;	
}

.nr-span {
	flex-basis: 5%;
	background: var(--color-secondary);
}

.title-span {
	flex-basis: 20%;
	background: var(--color-primary);
}

.date-span {
	flex-basis: 15%;
	background: var(--color-secondary);	
}

.description-span {
	flex-basis: 45%;
	background: var(--color-primary);	
}

.delete-button-span {
	flex-basis: 15%;
	background: var(--color-secondary);
	text-align: center;
}



